@import "tailwindcss";

@layer base {
  :root {
    --background: #000000;
    --foreground: #ffffff;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

html {
  scroll-behavior: smooth;
}

nextjs-portal,
[data-nextjs-toast],
div:has(> svg > defs > mask#next_logo_mask0) {
  display: none !important;
}
